<% dreams.each do |dream| %>
  <% if dream.dream_post.present?%>
    <div class="card">
      <div class="card-header font-weight-bold">
        <%= dream.user.user_name%>
        <span class="date-font-size"><%= dream.sleep_time.to_s(:date_jp) %></span>
        <% dream.tags.each do |tag| %>
          <span class="badge badge-primary"><%= tag.name %></span>
        <% end %>
      </div>
      <div class="card-body text-left">
        <% if dream.memo.size < 80 %>
          <%= dream.memo %>
            <%= link_to "コメントをする", dream_path(dream.id) %>
        <% else %>
          <%= truncate(dream.memo, length: 80) do %>
            <%= link_to "続きを見る", dream_path(dream.id) %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
