<%= form_with url: records_path, method: :get, local: true do |f| %>
<div class="form-group" %>
<%= f.label :Serch %>
<%= f.date_field :search %>
</div>
<%= f.submit "Search", class: "btn btn-outline-dark", name: nil %>
<% end %>





<div class="d-flex align-items-center">
  <h1>睡眠記録</h1>
</div>
<table class="table table-hover boards__table center">
  <thead class="thead-light">
    <tr>
      <th>作成日</th>
      <th>起床時間</th>
      <th>就寝時間</th>
      <th>睡眠時間</th>
      <th>目覚めの気分</th>
      <th>sun</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.created_at.to_s(:date_jp) %></td>
        <td><%= record.getup_time%></td>
        <td><%= record.sleep_time%></td>
        <td>約<%=(record.getup_time.to_i -  record.sleep_time.to_i  ) / 3600 %> 時間</td>
        <td><%= record.memo %></td>
        <td><%= record.sun %></td>
      </tr>
    <% end %>
  </tbody>
</table>