<%= form_with url: done_records_path, method: :get, local: true do |f| %>
<div class="form-group" %>
<%= f.label :Serch %>
<%= f.date_field :search %>
</div>
<%= f.submit "Search", class: "btn btn-outline-dark", name: nil %>
<% end %>





<div class="d-flex align-items-center">
  <h1>睡眠記録</h1>
</div>
<table class="table table-hover boards__table center">
  <thead class="thead-light">
    <tr>
      <th>日付</th>
      <th>睡眠時間</th>
      <th>詳細</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.sleep_time.to_s(:date_jp) %>〜<%= record.getup_time.to_s(:date_jp)%></td>
        <td>約<%=(( record.getup_time -  record.sleep_time) / 3600).to_f.floor(1) %> 時間</td>
        <td><%= link_to "詳細", record , class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>