<% @records.each do |record| %>
  <% @average += (( record.getup_time -  record.sleep_time) / 3600).to_f.floor(1) / @records.count %>
<% end %>
<p>あなたの平均睡眠時間は<span class="average-time"><%= @average.to_f.floor(1) %></span>時間です</p>

<%= form_with url: done_records_path, method: :get, local: true do |f| %>
<div class="serch-form center" %>
  <%= f.date_field :search %>
  <%= f.submit "Search", class: "btn btn-outline-dark", name: nil %>
</div>
<% end %>

<% if @records.empty? %>
  <div class="no-record ">
  <h1>まだ記録がありません</h1>
  <%= link_to "記録を始める", form1_records_path, class: "btn btn-lg btn-index" %>
  </div>
<% else %>
<div class="record d-flex align-items-center">
  <h1>睡眠記録</h1>
</div>
<div clas="table-responsive">
<table class="table table-hover boards__table center" >
  <thead>
    <tr>
      <th>記録をした日</th>
      <th>睡眠時間</th>
      <th>詳細</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.sleep_time.to_s(:date_jp) %>〜</br><%= record.getup_time.to_s(:date_jp)%></td>
        <td><%=(( record.getup_time -  record.sleep_time) / 3600).to_f.floor(1) %> 時間</td>
        <td><%= link_to "詳細", record , class: "btn btn-show" %></td>
        <td><%= link_to "削除", record , class: "btn btn-delete", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% end %>
<%= paginate @records %>
