<label><span class="badge form1-badge"><i class="far fa-moon"></i>寝た時のこと</span></label>
<%= form_for @record , url: form2_records_path, method: :get do |f| %>
  <%= f.hidden_field :user_id %>
  <div class= "form1-label">
  <%= f.label :sleep_time,"何時に布団に入った?", class: "col-sm-4 control-label label-text" %><br>
  <%= f.datetime_select :sleep_time,discard_year:true, class: "form-control form-control-inline"%></br>
  </div>
  <div class= "form1-label">
  <%= f.label :medicine,"寝るための薬は飲みましたか？", class: "label-text" %><br>
  <%= f.select :medicine, options_for_select({飲んだ: "飲んだ", 飲んでいない: "飲んでいない"}), include_blank: true %></br>
  </div>
  <label><span class="badge badge-info form1-badge"><i class="far fa-moon"></i>夜中のこと</span></label>
  <div class= "form1-label">
  <%= f.label :awakening,"途中で目が覚めた?", class: "label-text" %><br>
  <%= f.select :awakening, options_for_select({起きた: "起きた" , 起きていない: "起きていない"}), include_blank: true %></br>
  </div>
  
  <div class="text-center">
  <%= f.submit '次へ', class: "btn btn-outline-dark btn-next w-150px" %>
  </div>
<% end %>