<label><span class="badge form4-badge"><i class="fas fa-sticky-note"></i>1日を通じて</span></label>
<%= form_for @record, url: records_path, metho: :post do |f| %>
  <%= f. hidden_field :user_id %>
  <div class= "form4-label">
  <%= f.label :memo,"思ったことをメモ", class: "label-text" %><br>
  <%= f.text_area :memo%></br>
  </div>
  <div class="text-center">
  <%= f.submit '次へ', class: "btn btn-outline-dark btn-next w-150px" %>
  </div>
<% end %>
