<label><span class="badge badge-info form3-badge">日中のこと</span></label>
<%= form_for @record , url: form4_records_path, method: :get do |f| %>
  <%= f. hidden_field :user_id %>
  <div class= "form3-label">
  <%= f.label :sleepiness,"元気に過ごせた？", class: "text-info" %><br>
  <%= f.select :sleepiness, options_for_select({元気に過ごせた: "元気に過ごせた", 
                                                少し眠気があった: "少し眠気があった",
                                                １日中眠気があった: "１日中眠気があった"}),
                                                include_blank: true %></br>
  </div>
  <div class="text-center">
  <%= f.submit '次へ', class: "btn btn-outline-dark w-150px" %>
  </div>
<% end %>
