<label><span class="badge badge-dark form1-badge">寝た時のこと</span></label>
<%= form_for @record , url: form2_records_path, method: :get do |f| %>
  <%= f.hidden_field :user_id %>
  <div class= "form1-label">
  <%= f.label :memo,"何時に布団に入った?", class: "text-secondary" %><br>
  <%= f.text_field :memo%></br>
  </div>
  <div class= "form1-label">
  <%= f.label :memo,"寝る前にしたことある？", class: "text-secondary" %><br>
  <%= f.text_field :memo%></br>
  </div>
  <label><span class="badge badge-dark form1-badge">夜中のこと</span></label>
  <div class= "form1-label">
  <%= f.label :memo,"途中で目が覚めた?", class: "text-secondary" %><br>
  <%= f.text_field :memo%></br>
  </div>
  
  <div class="text-center">
  <%= f.submit '次へ', class: "btn btn-outline-dark w-150px" %>
  </div>
<% end %>