<h1 class="show-title">
<%= @record.sleep_time.to_s(:date_jp) %>~<%= @record.getup_time.to_s(:date_jp)%>の記録
</h1>
<div class="right">
<%= link_to "編集", edit_record_path,  data: {"turbolinks" => false}, class: "btn btn-outline-dark" %>
</div>
<table class="table center show-table">
  <tr>
    <th>就寝時間</th>
    <td><%= @record.sleep_time.to_s(:datetime_jp)%></td>
  </tr> 
  <tr>
    <th>起床時間</th>
    <td><%= @record.getup_time.to_s(:datetime_jp)%></td>
  </tr>  
  <tr>
    <th>薬を飲んだ</th>
     <td><%= @record.medicine %></td>
   </tr>   
   <tr>
     <th>夜中に目が覚めた</th>
    <td><%= @record.awakening %></td>
  </tr>   
  <tr>
    <th>布団から出るまで</th>
    <td><%= @record.getout %></td>
  </tr>   
  <tr>
    <th>朝日を浴びた</th>
    <td><%= @record.sun %></td>
   </tr>   
   <tr>
     <th>日中の眠気</th>
   　<td><%= @record.sleepiness %></td>
   </tr> 
</table>

<div class="card">
  <div class="card-header d-flex">
    <h5>夢の記録</h5>
    <div id= "dream-post">
      <% if @record.dream_post_by(current_user).present? %>
        <%= link_to "投稿を取り消す", record_dream_post_path(@record.id, @record.dream_post_by(current_user)), method: :DELETE, remote: true, class: "btn btn-posted" %>
      <% else %>
        <%= link_to "投稿する", record_dream_posts_path(@record), method: :POST, remote: true, class: "btn btn-post" %>
      <% end %>
    </div>
  </div>
<div class="card-body">
  <% if @record.memo.empty? %>
  <h6>記録がありません</h6>
  <%= link_to "みんなの夢を見てみよう！", dreams_path %>
  <% else %>
    <p class="card-text"><%= @record.memo %></p>
    <p class="text-right font-weight-bold mr-10">
    <%= link_to "みんなの夢を見てみよう！", dreams_path %>
  </div>
<% end %>
</div> 
