<div class="top-main-wrapper">
  <p><span>睡眠記録アプリ</span></p>
  <h1 id="title" class="center">SleepApp</h1>
  <div class="center">
    <%= link_to "ログイン",new_user_session_path, class: "btn btn-lg btn-top " %>
    <%= link_to "新規登路",new_user_registration_path, class: "btn btn-lg btn-top " %>
    <div class="sub-text-wrapper row justify-content-center mt-2">
      <p>
        <span>SleepApp</span>は毎日の睡眠時間、日々の気分や行動を管理するアプリケーションです。
      </p>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-8 offset-md-2 col-xs-12">
      <div class="sample-display-box mt-5 mb-5">
        <div class="image-box1 mb-5">
        <p><span>記録をつけると男の子が成長するよ!</span></p>
        <%= image_tag '/images/user_status_display.png' %>
        </div>
        <div class="image-box2 mb-5">
        <p><span>日々の記録から睡眠活動に役立てよう!</span></p>
        <%= image_tag '/images/show_display.png' %>
        </div>
        <div class="image-box3 mb-5">
        <p><span>ユーザーが投稿した夢を見て楽しもう！</span></p>
        <%= image_tag '/images/user_dream_display.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
